html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #6ec8ff, #b9f0fa);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

<style>
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
</style>