html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

body {
    background: rgb(70,70,70);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

input {
    padding: 10px 20px;
    background-color: rgb(40, 40, 40);
    height: 50px;
    width: 500px;
    border-radius: 12px;
    outline: none;
    border: none;
    color: white;
}

.material-symbols-outlined {
    vertical-align: middle;
    
  color: white;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.copy {
    background-color: rgb(40, 40, 40);
    border-radius: 100%;
    padding: 13px;
}

h1 {
    font-size: 28px;
    margin: 0px;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.display {
    display: flex;
    gap: 10px;
    align-items: center;
}

.hover:hover {
    transition: ease-in-out 0.2s;
    background-color: rgb(60, 60, 60);
    cursor: pointer;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 15px 30px 15px 20px;
    background-color: rgb(40, 40, 40);
    outline: none;
    border: none;
    color: white;
    text-align: center;
    align-items: center;
    line-height: 1;
    font-weight: 600;
    gap: 20px;
}